In [2]:
!pip install -q condacolab

In [3]:
import condacolab
condacolab.install()

‚è¨ Downloading https://github.com/jaimergp/miniforge/releases/latest/download/Mambaforge-colab-Linux-x86_64.sh...
üì¶ Installing...
üìå Adjusting configuration...
ü©π Patching environment...
‚è≤ Done in 0:00:35
üîÅ Restarting kernel...

In [1]:
!conda --version

conda 4.9.2

In [2]:
cd drive/MyDrive/Colab\ Notebooks/pandas-master

/content/drive/MyDrive/Colab Notebooks/pandas-master

In [3]:
ls

data/  Pandas_Cheatsheet.ipynb

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1.Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ, ÏãúÎ¶¨Ï¶à

In [16]:
# Series
s1 = pd.core.series.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [17]:
s2 = pd.Series(['one','two','three'])
s2

0      one
1      two
2    three
dtype: object

In [18]:
# DataFrame
pd.DataFrame(data=dict(num=s1,word=s2))

   num   word
0    1    one
1    2    two
2    3  three

## 2.ÌååÏùºÏóêÏÑú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

In [19]:
# driveÏóê Ï†ÄÏû•Îêú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞(csv)
df = pd.read_csv('data/friend_list.csv')

In [20]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [21]:
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [22]:
# driveÏóê Ï†ÄÏû•Îêú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞(txt)
df= pd.read_csv('data/friend_list.txt')

In [23]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [24]:
# driveÏóê Ï†ÄÏû•Îêú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞(txt - tab Íµ¨Î∂Ñ : delimiter)
df= pd.read_csv('data/friend_list_tab.txt',delimiter="\t")

In [25]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [26]:
#header Í∞Ä ÏóÜÏùÑ Îïå
df = pd.read_csv('data/friend_list_no_head.csv', header = None)
df

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher
3  Julia  40    dentist
4  Brian  45    manager
5  Chris  25     intern

In [27]:
df.columns= ['name','age','job']
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [28]:
df = pd.read_csv('data/friend_list_no_head.csv', header = None, names =['name','age','job'])
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

## 3.Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉùÏÑ±ÌïòÍ∏∞

In [36]:
# ÎîïÏÖîÎÑàÎ¶¨ ÏÇ¨Ïö©
friend_dict_list = [{'name' : 'John', 'age' : 25,'job':'student'},
                    {'name' : 'Nate', 'age' : 30,'job':'teacher'}
                    ]

In [37]:
df = pd.DataFrame(friend_dict_list)

In [39]:
df = df[['name','job','age']]
df.head()

   name      job  age
0  John  student   25
1  Nate  teacher   30

In [40]:
from collections import OrderedDict

In [41]:
# keyÏùò ÏàúÏÑúÎ≥¥Ïû• OrderedDictÏÇ¨Ïö©
friend_ordered_dict = OrderedDict(
    [
      ('name',['Jone','Nate']),
      ('age',[25,30]),
      ('job',['student','teacher']),
    ]
)

In [44]:
df = pd.DataFrame.from_dict(friend_ordered_dict)
df

   name  age      job
0  Jone   25  student
1  Nate   30  teacher

In [ ]:
# Î¶¨Ïä§Ìä∏ ÏÇ¨Ïö©

In [46]:
friend_list = [
      ['Jone',20,'student'],
      ['Nate',30,'teacher']
]

In [47]:
column_name = ['name','age','job']

In [49]:
df = pd.DataFrame.from_records(friend_list,columns=column_name)
df

   name  age      job
0  Jone   20  student
1  Nate   30  teacher

In [51]:
friend_list = [
      ['name',['Jone','Nate']],
      ['age',[25,30]],
      ['job',['student','teacher']]
]

In [53]:
df = pd.DataFrame.from_dict(dict(friend_list) )
df

   name  age      job
0  Jone   25  student
1  Nate   30  teacher