In [2]:
!pip install -q condacolab

In [3]:
import condacolab
condacolab.install()

‚è¨ Downloading https://github.com/jaimergp/miniforge/releases/latest/download/Mambaforge-colab-Linux-x86_64.sh...
üì¶ Installing...
üìå Adjusting configuration...
ü©π Patching environment...
‚è≤ Done in 0:00:35
üîÅ Restarting kernel...

In [1]:
!conda --version

conda 4.9.2

In [2]:
cd drive/MyDrive/Colab\ Notebooks/pandas-master

/content/drive/MyDrive/Colab Notebooks/pandas-master

In [3]:
ls

data/  Pandas_Cheatsheet.ipynb

In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1.Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ, ÏãúÎ¶¨Ï¶à

In [16]:
# Series
s1 = pd.core.series.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

In [17]:
s2 = pd.Series(['one','two','three'])
s2

0      one
1      two
2    three
dtype: object

In [18]:
# DataFrame
pd.DataFrame(data=dict(num=s1,word=s2))

   num   word
0    1    one
1    2    two
2    3  three

## 2.ÌååÏùºÏóêÏÑú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞

In [19]:
# driveÏóê Ï†ÄÏû•Îêú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞(csv)
df = pd.read_csv('data/friend_list.csv')

In [20]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [21]:
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [22]:
# driveÏóê Ï†ÄÏû•Îêú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞(txt)
df= pd.read_csv('data/friend_list.txt')

In [23]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [24]:
# driveÏóê Ï†ÄÏû•Îêú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞(txt - tab Íµ¨Î∂Ñ : delimiter)
df= pd.read_csv('data/friend_list_tab.txt',delimiter="\t")

In [25]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [26]:
#header Í∞Ä ÏóÜÏùÑ Îïå
df = pd.read_csv('data/friend_list_no_head.csv', header = None)
df

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher
3  Julia  40    dentist
4  Brian  45    manager
5  Chris  25     intern

In [27]:
df.columns= ['name','age','job']
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [28]:
df = pd.read_csv('data/friend_list_no_head.csv', header = None, names =['name','age','job'])
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

## 3.Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏÉùÏÑ±ÌïòÍ∏∞

In [36]:
# ÎîïÏÖîÎÑàÎ¶¨ ÏÇ¨Ïö©
friend_dict_list = [{'name' : 'John', 'age' : 25,'job':'student'},
                    {'name' : 'Nate', 'age' : 30,'job':'teacher'}
                    ]

In [37]:
df = pd.DataFrame(friend_dict_list)

In [39]:
df = df[['name','job','age']]
df.head()

   name      job  age
0  John  student   25
1  Nate  teacher   30

In [40]:
from collections import OrderedDict

In [41]:
# keyÏùò ÏàúÏÑúÎ≥¥Ïû• OrderedDictÏÇ¨Ïö©
friend_ordered_dict = OrderedDict(
    [
      ('name',['Jone','Nate']),
      ('age',[25,30]),
      ('job',['student','teacher']),
    ]
)

In [44]:
df = pd.DataFrame.from_dict(friend_ordered_dict)
df

   name  age      job
0  Jone   25  student
1  Nate   30  teacher

In [ ]:
# Î¶¨Ïä§Ìä∏ ÏÇ¨Ïö©

In [46]:
friend_list = [
      ['Jone',20,'student'],
      ['Nate',30,'teacher']
]

In [47]:
column_name = ['name','age','job']

In [49]:
df = pd.DataFrame.from_records(friend_list,columns=column_name)
df

   name  age      job
0  Jone   20  student
1  Nate   30  teacher

In [51]:
friend_list = [
      ['name',['Jone','Nate']],
      ['age',[25,30]],
      ['job',['student','teacher']]
]

In [53]:
df = pd.DataFrame.from_dict(dict(friend_list) )
df

   name  age      job
0  Jone   25  student
1  Nate   30  teacher

## 4.Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÌååÏùºÎ°ú Ï†ÄÏû•ÌïòÍ∏∞

In [55]:
friends = [{'name':'Jone','age':20,'job':'student'},
           {'name':'Jenny','age':30,'job':None},
           {'name':'Nate','age':40,'job':'teacher'}
           ]
df = pd.DataFrame(friends)
df = df[['name','age','job']]
df

    name  age      job
0   Jone   20  student
1  Jenny   30     None
2   Nate   40  teacher

In [62]:
df.to_csv('friends.csv',index = True, header = True, na_rep='-')

In [61]:
ls

data/  friends.csv  Pandas_Cheatsheet.ipynb

## 5.Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Ìñâ,Ïó¥ ÏÑ†ÌÉù Î∞è ÌïÑÌÑ∞ ÌïòÍ∏∞

In [76]:
friends_list = [
        ['name',['Jhon','Jenny','Nate']],
        ['age',[20,30,30]],
        ['job',['student','developer','teacher']]
]
df = pd.DataFrame.from_dict(dict(friends_list))
df

    name  age        job
0   Jhon   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [73]:
df[1:3]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [74]:
df = df[1:3]
df

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [77]:
df.loc[[0,2]]

   name  age      job
0  Jhon   20  student
2  Nate   30  teacher

### by column condition

In [78]:
df[df.age > 25]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [79]:
df.query('age>25')

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [81]:
df[(df.age>25) & (df.name=='Nate')]

   name  age      job
2  Nate   30  teacher

### Filter Column

by index

In [84]:
friend_list = [['John',20, 'student'],
               ['Jenny',30, 'developer'],
               ['Nate',30, 'teacher']
]
df = pd.DataFrame.from_records(friend_list)
df

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher

In [85]:
df.iloc[:,0:2]

       0   1
0   John  20
1  Jenny  30
2   Nate  30

In [86]:
df.iloc[0:2,0:2]

       0   1
0   John  20
1  Jenny  30

### by column name

In [92]:
df = pd.read_csv('data/friend_list_no_head.csv',header = None, names=['name','age','job'])
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [94]:
df_filtered = df[['name','age']]
df_filtered

    name  age
0   John   20
1  Jenny   30
2   Nate   30
3  Julia   40
4  Brian   45
5  Chris   25

In [96]:
df.filter(items=['age','job'])

   age        job
0   20    student
1   30  developer
2   30    teacher
3   40    dentist
4   45    manager
5   25     intern

In [100]:
# axis=0(index) : ÌñâÏùÑ Îî∞Îùº ÎèôÏûë
# axis=1(columns) : Ïó¥ÏùÑ Îî∞Îùº ÎèôÏûë
df.filter(like='a',axis=1)

    name  age
0   John   20
1  Jenny   30
2   Nate   30
3  Julia   40
4  Brian   45
5  Chris   25

In [102]:
#Ï†ïÍ∑úÏãù
df.filter(regex='b$',axis=1)

         job
0    student
1  developer
2    teacher
3    dentist
4    manager
5     intern

## 6.Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ Ìñâ,Ïó¥ ÏÇ≠Ï†úÌïòÍ∏∞

In [124]:
friends = [{'age' : 15, 'job' : 'student'},
           {'age' : 25, 'job' : 'developer'},
           {'age' : 30, 'job' : 'teacher'}]
df = pd.DataFrame(friends,index = ['John','Jenny', 'Nate'],
                  columns = ['age','job'])
df

       age        job
John    15    student
Jenny   25  developer
Nate    30    teacher

In [116]:
df = df.drop(['John','Nate'])
df

       age        job
Jenny   25  developer

In [125]:
df.drop(['John','Nate'],inplace= True)

In [126]:
df

       age        job
Jenny   25  developer

In [136]:
friends = [{'name': 'John','age' : 15, 'job' : 'student'},
           {'name': 'Ben','age' : 25, 'job' : 'developer'},
           {'name': 'Jenny','age' : 30, 'job' : 'teacher'}]
df = pd.DataFrame(friends ,columns = ['name','age','job'])
df

    name  age        job
0   John   15    student
1    Ben   25  developer
2  Jenny   30    teacher

In [128]:
#Ïù∏Îç±Ïä§Î°ú ÏÇ≠Ï†ú
df = df.drop(df.index[[0,2]])

In [129]:
df

  name  age        job
1  Ben   25  developer

In [131]:
df = df[df.age>20]

In [132]:
df

    name  age        job
1    Ben   25  developer
2  Jenny   30    teacher

In [134]:
df = df.drop('age',axis=1)

In [135]:
df

    name        job
0   John    student
1    Ben  developer
2  Jenny    teacher

In [137]:
df.drop('age',axis=1, inplace = True)

In [138]:
df

    name        job
0   John    student
1    Ben  developer
2  Jenny    teacher